.container{
   display: flex; 
   justify-content: space-around;
}
.kotak{
    height: 550px;
    width: 150px;
    border: solid;
}
.item-1{
    background-color: red;
}
.item-2{
    background-color: yellow;
    
}
.item-3{
    background-color: rgb(0, 255, 42);
    
}
.item-4{
    background-color: rgb(59, 115, 235);
    
}
